html, body {
    height: 100%; 
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #c96868;
}

@media screen and (min-width: 768px) {
    .container {
        display: grid;
        width: 80%;
        height: 80vh;
        background-color: #c96868;
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));  */
        /* grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr); */
        grid-template-areas: "a b" "c c" "d d" "e f";
        gap: 20px;
    }
    #intro-box {
        grid-area: b;
        display: grid;
        grid-template-areas: "a b" "c c" "d d" "e e";
    }
    #edu-box {
        grid-area: c;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "a b b";
    }
    #edu-title {
        grid-area: a;
    }
    #edu-detail {
        grid-area: b;
    }
    #exp-box {
        grid-area: d;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "a b b";
    }
    #exp-title {
        grid-area: a;
    }
    #exp-detail {
        grid-area: b;
    }
}

@media screen and (max-width: 767px) {
    .container {
        display: grid;
        width: 90%;
        height: 80vh;
        background-color: #c96868;
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));  */
        /* grid-template-columns: repeat(2, 1fr); */
        /* grid-template-rows: repeat(4, 1fr); */
        grid-template-areas: "a a" "b b" "c c" "d d" "e f";
        gap: 20px;
    }
    #intro-box {
        grid-area: b;
        display: grid;
        grid-template-areas: "b" "a" "c" "d" "e";
    }
    #edu-box {
        grid-area: c;
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-areas: "a" "b";
    }
    #edu-title {
        grid-area: a;
        justify-content: center;
    }
    #edu-detail {
        grid-area: b;
        justify-content: center;
    }
    #exp-box {
        grid-area: d;
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-areas: "a" "b";
    }
    #exp-title {
        grid-area: a;
        justify-content: center;
    }
    #exp-detail {
        grid-area: b;
        justify-content: center;
    }
}

.box {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px;
    word-wrap: break-all;
}

.box.outer {
    border: 8px solid black;
    border-radius: 15px;
    /* box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3); */
}

.red {
    background-color: #c96868;
}

.yellow {
    background-color: #fadfa1;
}

.white {
    background-color: #fff4ea;
}

.blue {
    background-color: #7eacb5;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box.lefted {
    display: flex;
    justify-content: left;
    align-items: center;
}

.box.righted {
    display: flex;
    justify-content: right;
    align-items: center;
}

#pic-box img {
    grid-area: a;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

#hello-english {
    grid-area: a;
}

#hello-bangla {
    grid-area: b;
}

#welcome {
    grid-area: c;
}

#intro {
    grid-area: d;
    padding: 20px;
}

#interests {
    grid-area: e;
    text-align: center;
}

#mail {
    grid-area: e;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 20px;
}

#mail a {
    text-decoration: none;
    color: #fadfa1;;
}

#mail a:hover {
    text-decoration: underline;
    color: #fff4ea;
}

#social {
    grid-area: f;
    display: flex;
    justify-content: right;
    align-items: center;
}

#social img {
    width: 50px;
    height: 50px;
    padding: 20px;
}

#github:hover {
    content: url('images/github-logo.svg');
}

#linkedin:hover {
    content: url('images/linkedin-logo.svg');
}